    .navbar {
        display: flex;
        align-items: center;
        height: 10vh;
        background-color: hsl(120, 90%, 48%, 0.4);
    }
    
    .navbartext {
        display: flex;
        text-size-adjust: 30%;
        text-align: center;
    }
    
    aside {
        background-color: black;
        color: white;
        clear: both;
        text-align: center;
        padding: 5px;
    }
    
    form {
        border: 2px solid hsl(123, 90%, 48%, 0.4);
    }
    
    footer {
        background-color: black;
        color: white;
        clear: both;
        text-align: center;
        padding: 5px;
    }
    /* Full-width inputs */
    
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid hsl(128, 79%, 50%, 0.3);
        box-sizing: border-box;
    }
    /* Set a style for all buttons */
    
    button {
        background-color: hsl(130, 90%, 48%, 0.3);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /* Add a hover effect for buttons */
    
    button:hover {
        opacity: 0.8;
    }
    /* Extra style for the cancel button (red) */
    
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #62f436;
    }
    /* Center the avatar image inside this container */
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    /* Add padding to containers */
    
    .container {
        padding: 16px;
    }
    /* The "Forgot password" text */
    
    span.psw {
        float: right;
        padding-top: 16px;
        text-decoration: underline;
    }
    
    .